@model IEnumerable<Accident>

@{
    ViewData["Title"] = "Accidente - Vladi Revolution";
}

<div class="d-flex justify-content-center text-center">
    <div class="row">
        &nbsp; <h1 class="text-center">Accidentări</h1> &nbsp;
        <div class="d-flex justify-content-center">
            <form method="get" class="form-inline my-2 my-lg-0 d-flex" asp-controller="Accidents" asp-action="Filter">
                <input name="searchString" type="text" class="form-control" placeholder="Caută accidentare după jucător..."
                       style="width: 300px; padding: 5px;" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 5px;">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            @await Html.PartialAsync("_CreateItem", "Accidents")
        </div>
        &nbsp;
        <table class="table table-responsive">
            <thead>
                <tr class="align-middle">
                    <th class="d-none d-md-table-cell">@Html.DisplayNameFor(model => model.First().Player.FullName)</th>
                    <th class="d-none d-md-table-cell">Indisponibil</th>
                    <th class="d-none d-md-table-cell">@Html.DisplayNameFor(model => model.First().AccidentType)</th>
                    <th class="d-none d-md-table-cell">Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>@Html.DisplayFor(model => item.Player.FullName)</td>
                        <td>@Html.DisplayFor(model => item.AccidentFrom) - @Html.DisplayFor(model => item.AccidentTo)</td>
                        <td>@Html.DisplayFor(model => item.AccidentType)</td>
                        <td class="d-none d-md-table-cell">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="bi bi-pencil"></i> Editează</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-transfer-id="@item.Id" data-player-name="@item.Player.FullName">
                                    <i class="bi bi-trash"></i> Șterge
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Șterge Transfer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ești sigur că vrei să ștergi transferul pentru jucătorul <strong id="playerName"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
                <form id="deleteForm" method="post">
                    <button type="submit" class="btn btn-danger">Șterge</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var transferId = button.getAttribute('data-transfer-id'); // Change to transfer
            var playerName = button.getAttribute('data-player-name');
            var playerNameElement = deleteModal.querySelector('#playerName');
            var deleteForm = deleteModal.querySelector('#deleteForm');
            playerNameElement.textContent = playerName;
            deleteForm.action = '/Accidents/Delete/' + transferId; // Update to Transfers
                });
    </script>
}